* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
} 

.header {
    background-color: #1f2937;
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.container.one {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:first baseline;
    height: 400px;
    width: 400px;
    flex-shrink: 0;
}


h1.hero-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
}

p.hero-p {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

button.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    height: 50px;
    width: 125px;
    border-radius: 10px;
}

.hero-image img {
    height: 300px;
    width: auto;
    border-radius: 5px;
}

.container.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 100;
    padding: 50px;

}

.container.two h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
}

.image-container p {
    text-align: center;
}

.image {
    border: 1px solid #3882f6;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.container.three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    padding-right: 400px;
    padding-left: 400px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.quote-container p {
    font-size: 36px;
    font-weight: lighter;
}

.quote-attribute {
    align-self: flex-end;
}

.container.four {
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.cta-container {
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 800px;
    border-radius: 8px;

}

.cta {
    color: #f9faf8;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
}

.cta-subtext {
    color: #e5e7eb;
    font-weight: 100;
    margin-top: 5px;
}

.cta-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 1px solid #f9faf8;
    height: 45px;
    width: 100px;
    border-radius: 10px;
    align-self: center;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: auto;
}

.footer p{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 200;
}